@import '../../App.variables.scss';

.achievements-wrapp {
    flex: 1;
    background-color: $white-color;
    border-radius: 8px;
    margin: $padding-24;
    padding: 12px 24px 24px 24px;

    @media (max-width: 360px) {
        margin: $padding-24 0;
        padding: 16px 24px;
    }

    .tab__bar-title {
        @include h3;
    }
}
