@import '../../../../App.variables.scss';

.my-partners__block {
    margin-top: 40px;

    .my-partners__block-title {
        margin-bottom: 12px;
        @include h4;
    }

    .my-partners__block-subtitle {
        color: $gray-color;
    }

    .my-partners__cards-wrapp {
        display: flex;
        justify-content: flex-start;
        gap: $gap-16;
    }
}
